<header class="masthead">
    <nav class="language-nav">
        <ul>
            <li>
                <a href="">CSS</a>
            </li>
            <li>
                <a href="">HTML</a>
            </li>
            <li>
                <a href="">Javascript</a>
            </li>
            <li>
               <a href="">Ruby</a>
            </li>
        </ul>
    </nav>
    <img src="assets/AA_Times_Logo.png" alt="AA Logo" class="logo">
    <ul class="masthead-links">
        <li>
            Thrusday, July 29th, 2021
        </li>
        <li>
            <i class="fas fa-newspaper"></i>Today's paper
        </li>
        <li>
            <i class="fas fa-video"></i>Video
        </li>
        <li>
            <button>75°F</button>
        </li>
        <li>
            <button>AAO +100%</button>
        </li>
    </ul>
</header>




